<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/tag.css"/>
    <link rel="stylesheet" href="../css/front.css" />
    <link rel="stylesheet" href="../css/bi-style.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>全球汉语教师网</title>
</head>
<body>
    <div class="header">
        <div class="layer">
            <div class="wrapper">
                <div class="logo">
                    <a href="index.html"><img src="../images/title.png" alt="全球汉语教师网"/></a>
                </div>
                <div class="clearboth"></div>
            </div>
            <ul class="nav">
                <div class="wrapper">
                    <li><a href="#">汉办直通车</a></li>
                    <li><a href="#">教学信息</a></li>
                    <li class="active"><a href="case-index.html">教学资源</a></li>
                    <li><a href="#">在线课堂</a></li>
                    <li><a href="#">信息发布</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="wrapper" id="label-section">
        <div class="case-index-right">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#background" aria-controls="background" role="tab" data-toggle="tab">案例背景</a></li>
                    <li role="presentation"><a href="#sort" aria-controls="sort" role="tab" data-toggle="tab">案例分类</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="background">
                        <div class="tree">
                            <ul>
                                <li>
                                    <label>案例背景</label>
                                    <ul class="main-tree" id="background-case">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="sort">
                        <div class="tree">
                            <ul>
                                <li>
                                    <label>国际汉语教育案例库</label>
                                    <ul class="main-tree" id="sort-case">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="progress1" class="progress-bar-panel">
                <p class="float-left">热门点击</p>
                <a href="top-case.html" class="float-right">更多</a>
                <div class="clearboth"></div>
                <div class="bars">
                    <span class="bars-title"> 综合性学习</span><span id="" class="bar">90</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 日常交流</span><span id="" class="bar">85</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《论语》十则</span><span id="" class="bar">75</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 两小儿辩日</span><span id="" class="bar">63</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 我的信念</span><span id="" class="bar">62</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《鼎氏汉语》漫游语文世界</span><span id="" class="bar">49</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 济南的冬天</span><span id="" class="bar">45</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 钱塘湖春行</span><span id="" class="bar">44</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 月球上的足迹</span><span id="" class="bar">44</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《鼎氏汉语》第23课</span><span id="" class="bar">29</span>
                </div>
            </div>

            <div id="progress2" class="progress-bar-panel">
                <p class="float-left">热门搜索</p>
                <a href="top-case.html" class="float-right">更多</a>
                <div class="clearboth"></div>
                <div class="bars">
                    <span class="bars-title"> 综合性学习</span><span id="" class="bar">90</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 日常交流</span><span id="" class="bar">85</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《论语》十则</span><span id="" class="bar">75</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 两小儿辩日</span><span id="" class="bar">63</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 我的信念</span><span id="" class="bar">62</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《鼎氏汉语》漫游语文世界</span><span id="" class="bar">49</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 济南的冬天</span><span id="" class="bar">45</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 钱塘湖春行</span><span id="" class="bar">44</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 月球上的足迹</span><span id="" class="bar">44</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《鼎氏汉语》第23课</span><span id="" class="bar">29</span>
                </div>
            </div>

            <div id="progress3" class="progress-bar-panel">
                <p class="float-left">热门点赞</p>
                <a href="top-case.html" class="float-right">更多</a>
                <div class="clearboth"></div>
                <div class="bars">
                    <span class="bars-title"> 综合性学习</span><span id="" class="bar">90</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 日常交流</span><span id="" class="bar">85</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《论语》十则</span><span id="" class="bar">75</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 两小儿辩日</span><span id="" class="bar">63</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 我的信念</span><span id="" class="bar">62</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《鼎氏汉语》漫游语文世界</span><span id="" class="bar">49</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 济南的冬天</span><span id="" class="bar">45</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 钱塘湖春行</span><span id="" class="bar">44</span>
                </div>
                <div class="bars">
                    <span class="bars-title"> 月球上的足迹</span><span id="" class="bar">44</span>
                </div>
                <div class="bars">
                    <span class="bars-title">《鼎氏汉语》第23课</span><span id="" class="bar">29</span>
                </div>
            </div>

            <div class="tagList">
                <p>猜您喜欢</p>
                <a href="case.html"><div class="panel case-item">
                    <div class="panel-heading">
                        <div class="eye">
                            <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                            <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p class="title">《鼎氏汉语》第23课</p>
                        <p class="label">标签1 标签2 标签3</p>
                    </div>
                    <div class="panel-footer">
                        <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                        <span>鲍钰</span>
                        <span class="float-right">上传日期：2016/2/12</span>
                    </div>
                </div>
                </a>
                <a href="case.html"><div class="panel case-item">
                    <div class="panel-heading">
                        <div class="eye">
                            <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                            <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p class="title">《鼎氏汉语》第23课</p>
                        <p class="label">标签1 标签2 标签3</p>
                    </div>
                    <div class="panel-footer">
                        <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                        <span>鲍钰</span>
                        <span class="float-right">上传日期：2016/2/12</span>
                    </div>
                </div>
                </a>
                <a href="case.html"><div class="panel case-item">
                    <div class="panel-heading">
                        <div class="eye">
                            <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                            <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p class="title">《鼎氏汉语》第23课</p>
                        <p class="label">标签1 标签2 标签3</p>
                    </div>
                    <div class="panel-footer">
                        <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                        <span>鲍钰</span>
                        <span class="float-right">上传日期：2016/2/12</span>
                    </div>
                </div>
                </a>
            </div>

        </div>
        <div class="case-index-left">
            <div class="case-search">
                <img src="../images/search1.png" alt=""/>
                <input type="text" class="case-search-input" placeholder="请输入要搜索的关键词"/>
                <button><img src="../images/arrow1.png" alt="搜索"/></button>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <div class="panel-header" v-cloak>
                            <div class="row">
                                <label class="title sort-title float-left" id="emptyBack">所有背景</label>
                                <div class="items" v-for="background in backgrounds">
                                    <a class="btn btn-danger" data-field="category" onclick="deleteBG(this)"> <span class="js-cate-content"><span>{{ background.title }}</span>-<span>{{ background.sub }}</span></span> <span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <div class="clearboth"></div>
                            </div>
                            <div class="row">
                                <label class="title sort-title float-left" id="emptySort">所有分类</label>
                                <div class="items" v-for="sort in sorts">
                                    <a class="btn btn-danger" data-field="category" onclick="deleteSort(this)"> <span class="js-cate-content"><span>{{ sort.title }}</span>-<span>{{ sort.sub }}</span></span> <span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <div class="clearboth"></div>
                            </div>
                        </div>
                    </h5>
                </div>
            </div>
            <div class="case-list case-index-list">
                <div class="course-section">
                    <h1>课例 <a href="case-list.html">更多</a></h1>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="example-section">
                    <h1>案例 <a href="case-list.html">更多</a></h1>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                    <a href="case.html"><div class="panel case-item">
                        <div class="panel-heading">
                            <div class="eye">
                                <span class="love"><img src="../images/good2.png" alt="点赞"/>10</span>
                                <span class="click"><img src="../images/eye2.png" alt="查看"/>200</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p class="title">《鼎氏汉语》第23课</p>
                            <p class="label">标签1 标签2 标签3</p>
                        </div>
                        <div class="panel-footer">
                            <img class="float-left teacher-head-sm" src="../images/head3.png" alt="头像"/>
                            <span>鲍钰</span>
                            <span class="float-right">上传日期：2016/2/12</span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearboth"></div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <div class="footer-left">
                <div><label class="label-user" for="username">用户登录</label><input type="text" id="username"/></div>
                <div><label class="label-user" for="password">密码输入</label><input type="text" id="password"/></div>
                <button class="btn footer-btn">EMAIL SIGNUP</button>
            </div>
            <div class="footer-center">
                <p>主办方</p>
                <p>全球汉语教师网 （汉办）</p>
                <p class="footer-web">www.hanban.com</p>
            </div>
            <div class="footer-right text-left">
                <p>与我们联系</p>
                <ul class="contact-ul">
                    <li><a href="#"><img src="../images/contact1.png" alt=""/></a></li>
                    <li><a href="#"><img src="../images/contact2.png" alt=""/></a></li>
                    <li><a href="#"><img src="../images/contact3.png" alt=""/></a></li>
                    <li><a href="#"><img src="../images/contact4.png" alt=""/></a></li>
                    <li><a href="#"><img src="../images/contact5.png" alt=""/></a></li>
                </ul>
            </div>
            <div class="clearboth"></div>
            <div class="footer-bottom">
                <p>© Copyright 2016 华东师范大学 国际汉语教师研修基地版权所有</p>
            </div>
        </div>
    </div>


    <script src="../script/jquery.min.js"></script>
    <script src="../script/bootstrap.min.js"></script>
    <script type="text/javascript" src="../script/tags.js"></script>
    <script src="../script/jquery-barIndicator.js"></script>
    <script src="../script/jquery.easing.1.3.js"></script>
    <script src="../script/vue.min.js"></script>
    <script src="../script/case-index.js"></script>
</body>
</html>